
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--link: cyan;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
::-webkit-scrollbar-thumb:hover { background: #444; }

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

html, body {
	font-size: 16px;
	min-height: 100%;

	color: #aaa;
	background: #111;
}

body {
	padding: 5vw;

	> section {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 32em;
		margin: 0 auto;
	}
}

.title {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 1em;
}

marduk-theater {
	margin-top: 1em;
}

